<% posts.forEach(post => { %>
  <div>
    <a href="<%= post.targetFileName %>"><h2><%= post.metadata.title %></h2></a>
    <p><%= post.metadata.description %></p>
    <small>Written by <%= post.metadata.author%> - <%= post.createdAt %></small>
  </div>
<% }) %>